/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
    --background-color: #101014;
    --header-color: #121216;

    --download-button-color: #26bbff;
    --hover-outline-color: #f8f8f8;

    --font-color--: #ffffff;
    --game-type--: #ACACAD;
    --svg-color--: #ffffff;
    --search-bar: #18181c;

    --footer-background--: #202020;
    --footer-icon--: #cfcfcf;

    --basis-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  /*add @font face*/
  
  
  body {
    background-color: var(--background-color);
    margin: 0;
  }


  /*Basis tekst styling*/
  h1 {
    font-family: var(--basis-font);
    font-weight: 500;
    font-size: 1em;
    color: var(--font-color--);
  }


  h2 {
    font-family: var(--basis-font);
    font-size: 1.5em;
    color: var(--font-color--);
    font-weight: 700;
  }

  h3 {
    font-family: var(--basis-font);
    font-size: 1.3em;
    color: var(--font-color--);
  }

  h4 {
    font-family: var(--basis-font);
    font-size: 1em;
    font-weight: 500;
    color: var(--game-type--);
  }

  h5 {
    font-family: var(--basis-font);
    font-size: 1.4em;
    font-weight: 600;
    color: rgb(101, 101, 101);
  }

  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color--);

    font-weight: 500;
    font-size: 1.2em;
  }


  /*Button en links styling*/
  a {
    font-family: var(--basis-font);
  }

  button:hover {
    cursor: pointer;
  }


  /*Media width*/
  @media (min-width: 80em) {
    main > section:first-of-type {
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: 75em;
    }
    main > section:first-of-type ul:first-of-type li {
      width: 50em;
      height: 30em;
      padding: 2em;
    }
    main section:first-of-type ul:first-of-type li {
      display: grid;
      grid-template-columns: 15em 3em 1fr;
      grid-template-rows: 1fr 4em;
  
      padding: 3em;
    }
    main section:first-of-type ul:first-of-type a {
      grid-column: span 3;
      grid-row: 1/ 2;
    }
    main section:first-of-type ul:first-of-type p {
      max-width: 25em;
      font-size: 1.3em;
    }
    main section:first-of-type ul:first-of-type li a > p:first-of-type {
      font-size: 1.1em;
    }

   /*Plus button*/
   main section:first-of-type ul:first-of-type li > button:first-of-type {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    margin-top: .75em;
    
    }    

    /*Eerste slide button*/
    main section:first-of-type ul:first-of-type li:first-of-type button {
      grid-row: 2 / 3;
      grid-column: 1 / 2;

      background-color: var(--font-color--);
      border: none;
      border-radius: .6em;
    
      padding: 1em 1.5em;
      
    
      font-size: 1.2em;
      font-weight: 500;
    
      position: relative;
      z-index: 1;
    }
    main section:first-of-type ul:first-of-type li > button:first-of-type svg {
      width: 1.7em;
    }

    main section:first-of-type ul:first-of-type li > p {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    /*Call-to-action button*/
    main section:first-of-type ul:first-of-type li > button:last-of-type {
      display: block;
      margin: 0 2em 0 0;

      background-color: var(--font-color--);
      border: none;
      border-radius: .6em;
    
      padding: 1em 1.5em;
    
      font-size: 1.2em;
      font-weight: 500;
    
      position: relative;
      z-index: 1;
    }
    main section:first-of-type ul:first-of-type li a p:last-of-type {
      margin: 1em 0;
    }

    /*Discover something new*/
    main section:nth-of-type(2) {
      width: 75em;

      display: flex;
      flex-direction: column;
      justify-self: center;
    }
  }


  /*Free Games*/
  @media (min-width: 40em) {
    main section:nth-of-type(3) {
      display: flex;
      justify-self: center;

      flex-direction: column;
      max-width: 73em;
      padding: 0 1em 1em 1em;
    }
    main section:nth-of-type(3) section {
      display: flex;
      flex-direction: row;
      justify-self: center;

      gap: 1.5em;
    }
  }

  /*Tabel + Carousel 2 en 3*/
  @media (min-width: 65em) {
    main > ul {
      display: none;
    }
    main section:nth-of-type(4) {
      display: flex;
      justify-content: center;
      transform: scale(0.9);
      width: fit-content;
    }
    main section:nth-of-type(5)
    main section:nth-of-type(7) {
      display: flex;
      justify-content: center;
    }
    main section:nth-of-type(5) ul:first-of-type,
    main section:nth-of-type(7) ul:first-of-type {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100vw;
    }  
    main section:nth-of-type(5) ul:first-of-type li,
    main section:nth-of-type(5) ul:first-of-type li img,
    main section:nth-of-type(7) ul:first-of-type li,
    main section:nth-of-type(7) ul:first-of-type li img {
      width: 22em;
    }
    main section:nth-of-type(7) ul:first-of-type li {
      height: 27em;
    }
    main section:nth-of-type(5) ul:last-of-type,
    main section:nth-of-type(7) ul:last-of-type {
      display: none;
    }
    /*Hover effect*/
    main section:nth-of-type(5) ul:first-of-type li a:hover img {
      box-shadow: var(--hover-outline-color) .1em .1em .1em;
    }
    main section:nth-of-type(5) ul:first-of-type li a > button svg {
      display: none;
    }
    
    main section:nth-of-type(5) ul:first-of-type li a:hover > button svg {
      display: block;
      fill: var(--svg-color--);
      background-color: #00000053;
      border-radius: 2em;
      width: 3em;
    } 
    main section:nth-of-type(5) ul:first-of-type li a > button:hover svg {
      background-color: var(--download-button-color);
    }    
  } 

  @media (min-width: 80em) {
    main section:nth-of-type(4) {
      display: flex;
      justify-content: center;
      transform: none; 
      width: auto;
    }
  }
  
  /*Kleinste minimum getal moet voor zodat beide media queries werken*/

  /*Carousel 2 + Carousel 3*/
  @media (min-width: 80em) {
    main section:nth-of-type(5) ul:first-of-type,
    main section:nth-of-type(7) ul:first-of-type{
      display: flex;
      justify-content: center;
    }
    main section:nth-of-type(5) ul:first-of-type li,
    main section:nth-of-type(5) ul:first-of-type li img,
    main section:nth-of-type(7) ul:first-of-type li,
    main section:nth-of-type(7) ul:first-of-type li img {
      width: 23.5em;
    }
    main > ul,
    main section:nth-of-type(5) ul:nth-of-type(2),
    main section:nth-of-type(7) ul:nth-of-type(2){
      display: none;
    }  
  }


  /*Trending*/
  @media (min-width: 40em) {
    main section:nth-of-type(6) {
      display: flex;
      flex-direction: column;
      justify-self: center;

      max-width: 75em;
    }
  }

  @media (min-width: 58em) {
    main section:nth-of-type(6) section {
      display: flex;
      flex-direction: row;

      max-width: 73em;
    }
  }

  




