/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
    --background-color: #101014;
    --header-color: #121216;

    --download-button-color: #26bbff;
    --hover-outline-color: #f8f8f8;

    --font-color--: #ffffff;
    --game-type--: #ACACAD;
    --svg-color--: #ffffff;
    --search-bar: #18181c;

    --footer-background--: #202020;
    --footer-icon--: #cfcfcf;

    --basis-font-bold: 'Epic Games Font, Bold';
    --basis-font-black: 'Epic Games Font, Black';
    --basis-font-semi-bold: 'Epic Games Font, Semi-bold';
    --basis-font: 'Epic Games Font, Normal';
    --basis-font-light: 'Epic Games Font, Light';
  }
  
  
  /*add @font face*/
  @font-face {
    font-family: 'Epic Games Font, Bold';
    src: url('/fonts/InterTight-Bold.latin.woff2');
  }
  @font-face {
    font-family: 'Epic Games Font, Black';
    src: url('/fonts/InterTight-Black.latin.woff2');
  }
  @font-face {
    font-family: 'Epic Games Font, Semi-bold';
    src: url('/fonts/834e3616d9e57f3f027e96394f43efa0.woff');
  }
  @font-face {
    font-family: 'Epic Games Font, Normal';
    src: url('/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2');
  }
  @font-face {
    font-family: 'Epic Games Font, Light';
    src: url('/fonts/55b8ce1f9a32bb0f83f14813eac0b7ca.woff');
  }






  
  body {
    background-color: var(--background-color);
    margin: 0;
  }


  /*Basis tekst styling*/
  h1 {
    font-weight: 900;
    font-size: 2em;
    color: var(--font-color--);
  }


  h2 {
    font-family: var(--basis-font-bold);
    font-size: 1.5em;
    color: var(--font-color--);
    font-weight: 700;
  }

  h3 {
    font-family: var(--basis-font);
    font-size: 1.3em;
    color: var(--font-color--);
  }

  h4 {
    font-family: var(--basis-font);
    font-size: 1em;
    font-weight: 500;
    color: var(--game-type--);
  }

  h5 {
    font-family: var(--basis-font);
    font-size: 1.4em;
    font-weight: 600;
    color: rgb(101, 101, 101);
  }

  ul {
    list-style-type: "";
  }

  li {
    font-family: var(--basis-font);
  }

  p {
    font-family: var(--basis-font);
    color: var(--font-color--);

    font-weight: 400;
    font-size: 1em;
  }


  /*Button, links styling*/
  a {
    font-family: var(--basis-font);
    text-decoration: none;
  }

  button:hover {
    cursor: pointer;
  }













  




