/****************/
/* JOUW STYLING */
/****************/

/**********************************/

/*search*/
main svg {
  color: var(--svg-color--);
  width: 1em;
  margin: 1em;
}

main div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5em 1.8em;
}

main div button {
  display: flex;
  justify-content: center;

  background: none;
  border: none;
}

main div h1 {
  margin-top: 0.5em;
  font-size: 1.2em;
}

main div button svg {
  width: .5em;
  transform: rotate(90deg);

  fill: none;
  color: var(--svg-color--);
  z-index: -1; /*Waarom krijg je het boven de nav te zien?*/
}



/*Discover something new*/
main > section:first-of-type {
  padding: 1em;
  width: 100vmin;
}

main > section:first-of-type a {
  display: flex;
  align-items: center;
}

/*hoe krijg ik de h2 in het midden?*/
main > section:first-of-type h2 {
  margin: 0;
  padding-bottom: .2em;
}

main > section:first-of-type a svg {
  width: 1.5em;
  margin-left: .5em;
  fill: var(--svg-color--);
}

main a {
  text-decoration: none;
}

main > section:first-of-type ul {
  display: flex;
  
  overflow-x: auto;
  scrollbar-width: none;

  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

main > section:first-of-type li {
  margin-right: 1em;
}

main > section:first-of-type ul img {
  width: 55vw;
  border-radius: .5em;
}

main > section:first-of-type h4 {
  margin: 0;
  line-height: 1em;
}

main > section:first-of-type h5 {
  margin: .5em 0;
}
/*******************************************/






