/****************/
/* JOUW STYLING */
/****************/
:root {
  /* startje */
--background-color: #101014;
--header-color: #121216;
--download-button-color: #26bbff;
--font-color--: #ffffff;
}

button:not(disabled) {
  cursor:pointer;
}

/* jouw code */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 1.3em .5em;
  margin: 0;

  position:sticky;
  top:0;
}

/*nav button*/
header button:first-child img:first-child{
  height: 2em;
}

header button:first-child img:nth-child(2){
  height: 1em;
}

header button img:nth-of-type(2) {
  transform: rotate(90deg);
  margin: .5em;
  color: white;
}
/**************************************/


header nav {
  position: fixed;
  background-color: var(--header-color);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  translate: 0% -100%;
  transition: translate .3s;
}

header nav button {
  position:relative;
  z-index:100;
}

header nav p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: 900;
  color: var(--font-color--);
}

header ul {
  list-style: none;
}

nav.toonMenu {
  translate: 0% 0%;
}

header a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color--);
  font-weight: 500;
  text-decoration: none;
}

header button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  order: -1;
}

/*store*/
header > img {
  position: absolute;
  left: 4em;
  width: 3em;
  margin-left: .5em;
  z-index: -1;
}


/*nav open button pijl*/
header nav button img:nth-of-type(2) {
  transform: rotate(-90deg);
}



/*download button*/
header > button:nth-of-type(2) {
  position: absolute;
  right: 4em;
  padding: .3em .5em;
  z-index: -1;

  background-color: var(--download-button-color);
  border-radius: .4em;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: .95em;
  text-transform: capitalize;
}


/*hamburger menu*/
header > button:nth-of-type(3) img {
  width: 2em;
  background: none;
}


/**********************************/



main > section:first-of-type {
  padding: 1em;
  width: 100vmin;
}


main > section:first-of-type a {
  display: flex;
  align-items: center;
}

/*hoe ktijg ik de h2 in het midden?*/
main > section:first-of-type h2 {
  display: grid;
}

main > section:first-of-type a img {
  height: 1.3em;
  margin-left: .5em;
}

main > section:first-of-type ul {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding-left: 0;
}

main > section:first-of-type li {
  margin: .5em;
}

main > section:first-of-type ul img {
  width: 55vw;
  border-radius: .5em;
}

main > section:first-of-type h4 {
  margin: .5em 0;
}

main > section:first-of-type h3 {
  margin: 0;
}







