/****************/
/* JOUW STYLING */
/****************/
:root {
  --background-color: #101014;
  --header-color: #121216;

  --download-button-color: #26bbff;
  --button-color: #343437;
  --button-hover: #bababa40;
  --button-hover-border: #bebec5;

  --font-color--: #ffffff;
  --game-type--: #ACACAD;

  --svg-color--: #ffffff;
  --search-bar: #18181c;

  --shadow-color: #070707;

  --border-color: #404044;

  --free-games-font: #000000;
  --free-games-date-color: #aeaeaf;
  --free-games-background: #202024;
  --free-games-fn-background: #26bbff;

  --footer-background--: #202020;
  --footer-icon--: #cfcfcf;

  --basis-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/**********************************/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8em;
  overflow-x: hidden; /*om de horizontale scrollbar onderaan mijn pagina weg te halen*/
}

main {
  margin-bottom: 7em;
}

/*search button*/
main nav svg:first-of-type {
  color: var(--svg-color--);
  width: 1.5em;
  margin: 1em;
}

main nav {
  position: sticky;
  top: 0;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em .5em;
  justify-content: center;

  background-color: var(--background-color);
  height: 5em;
  width: 100%;
}

main nav button {
  display: flex;

  background: none;
  border: none;
}

main nav p {
  margin-top: 0.4em;
}




/*Discover nav*/
main nav ul {
  list-style: none;
  display: none;

  grid-column: 1 / 4 ;
  grid-row: 2 / 3;
}

.discoverMenu {
  display: block;
  z-index: 200;
  
  background-color: var(--background-color);
  width: 100%;
  height: 20em;
  padding: 2em;
  margin-top: 0;
}

main nav ul li {
  padding: 1.5em 0;
  border-bottom: solid var(--border-color) 1px;
}

main nav ul li a {
  color: var(--font-color--);
  font-family: var(--basis-font);
}

/*discover nav arrow animation*/
@keyframes arrow-animation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: -180deg;
  }
}

main nav button:nth-of-type(2) {
  justify-content: center;
}

main nav button:nth-of-type(2) svg {
  width: .5em;
  transform: rotate(90deg);
  margin-right: 0;

  fill: none;
  color: var(--svg-color--);
  z-index: -1; /*Waarom krijg je het boven de nav te zien?*/
}

main nav button:nth-of-type(2)[aria-label="arrow"].rotate svg {
  animation-name: arrow-animation;
  animation-duration: .3s;
  animation-fill-mode: both;
  /* animation-direction: alternate; */
}




/*carousel 1*/
main > section:first-of-type {
  padding: 1em;
}

main section:first-of-type ul:first-of-type {
  display: flex;
  overflow-x: auto; 
  scrollbar-width: none;
  scroll-behavior: smooth;
  /* scroll-snap-type: x mandatory; Werkt niet samen met scroll-behaviour: smooth;*/
  overscroll-behavior-x: contain;
  
  padding: 0;
  gap: 1em;
}

main section:first-of-type ul:first-of-type li {
  display: grid;
  grid-template-columns: 1fr 1fr 3em;
  grid-template-rows: 3em 6em 5em 14em;

  position: relative;

  /* scroll-snap-align: start; Werkt alleen als scroll-snap-type is geactiveerd.*/
  flex-shrink: 0;
  width: 21em;
  height: 29em;

  background-size: cover ;
  background-repeat: no-repeat;
  border-radius: 1em;

  padding: 1em;
}

main section:first-of-type ul:first-of-type a {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

/*Donker gradient overlay onder de slide*/
main section:first-of-type ul:first-of-type li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  border-radius: 1em;
  background: #101014;
  background: linear-gradient(0deg, #101014c0 0%, #ffffff00 100%);
}

/*Call-to-action button*/
main section:first-of-type ul:first-of-type li > button:last-of-type {
  display: none;
}

main section:first-of-type ul:first-of-type li > button:last-of-type:hover {
  background-color: var(--download-button-color);
  color: var(--free-games-font);
}




/*Plus button*/
main section:first-of-type ul:first-of-type li > button:first-of-type {
  background: none;
  border: none;

  grid-column: 3 / 4;

  position: relative; /*zodat z-index werkt. Z-index toegevoegd zodat het voor de gradient komt te staan*/
  z-index: 1;
}

main section:first-of-type ul:first-of-type li button svg {
  fill: var(--svg-color--);
  background-color: #00000053;
  border-radius: 2em;
  width: 3em;
}

/*Add to wishlist*/
main section:first-of-type ul:first-of-type li > p {
  position: relative;
  z-index: 1;
}
/*********/

main section:first-of-type ul:first-of-type li img {
  width: 8em;
  position: relative; /*zodat z-index werkt*/
  z-index: 1;
}

main section:first-of-type ul:first-of-type li a p {
  position: relative; /*zodat z-index werkt*/
  z-index: 1;
  margin: 0;
  text-shadow: var(--free-games-background) 1px 1px 1px;
}

main section:first-of-type ul:first-of-type li a > p:first-of-type {
  font-size: .9em;
  font-weight: 700;
  margin-bottom: 1em;
}

/*Carousel1 dot pagination*/
main section:first-of-type ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
}

main section:first-of-type ul:nth-of-type(2) li {
  list-style-type: "";
}

main section:first-of-type ul:nth-of-type(2) a {
  display: inline-block;
  width: .5em;
  height: .5em;
  background-color: #58585b;
  border-radius: 50%;
}

main section:first-of-type ul:nth-of-type(2) a:active {
  background-color: white;  
}

/*Carousel 1 Slider 1: Epic Savings*/
main section:first-of-type ul:first-of-type li:first-of-type {
  background-image: url(../images/Carousel1/Epic_savings.jpg);
}

main section:first-of-type ul:first-of-type li:first-of-type img {
  width: 10em;
  margin-bottom: 2em;
}

/*Carousel 1 Slider 2: TMNT*/
main section:first-of-type ul:first-of-type li:nth-of-type(2) {
  background-image: url(../images/Carousel1/Teenage_mutant_ninja_turtles.jpg);
}

main section:first-of-type ul:first-of-type li:nth-of-type(2) section {
  display: flex;  
  align-items: center;

  padding-left: 0;
  margin-top: 1em;
}

main section:first-of-type ul:first-of-type li:nth-of-type(2) section p {
  margin-right: .7em;
}

main section:first-of-type ul:first-of-type li:nth-of-type(2) section p:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--download-button-color);
  color: var(--free-games-font);
  
  text-shadow: none;

  width: 3em;
  height: 1.6em;
  border-radius: 1em;
}

main section:first-of-type ul:first-of-type li:nth-of-type(2) section p:nth-of-type(2) {
  color: var(--free-games-date-color);
}

/*Carousel slider 3: Apex Legends*/
main section:first-of-type ul:first-of-type li:nth-of-type(3) {
  background-image: url(../images/Carousel1/Apex_legend.jpg);
}

main section:first-of-type ul:first-of-type li:nth-of-type(3) img {
  width: 5em;
}
/*De rest van de slides*/

main section:first-of-type ul:first-of-type li:nth-of-type(4) {
  background-image: url(../images/Carousel1/Path_of_exile_2.jpg);
}

main section:first-of-type ul:first-of-type li:nth-of-type(5) {
  background-image: url(../images/Carousel1/Zenless_zone_zero.jpg);
}

main section:first-of-type ul:first-of-type li:nth-of-type(6) {
  background-image: url(../images/Carousel1/Planet_coaster_2.jpg);
}




/*Discover something new*/
main section:nth-of-type(2) {
  padding: 1em;
}

main section:nth-of-type(2) a {
  display: flex;
  align-items: center;
}

/*hoe krijg ik de h2 in het midden?*/
main section:nth-of-type(2) h2 {
  margin: 0;
  padding-bottom: .2em;
}

main section:nth-of-type(2) a svg {
  width: 1.5em;
  margin-left: .5em;
  fill: var(--svg-color--);
}

main a {
  text-decoration: none;
}

main section:nth-of-type(2) ul {
  display: flex;
  
  overflow-x: auto;
  scrollbar-width: none;

  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

main section:nth-of-type(2) li {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(2) ul img {
  display: block;
  width: auto;
  max-width: 50vw;
  max-height: 50vh;
  border-radius: .5em;

  margin-top: .5em;
}

main section:nth-of-type(2) h3 {
  margin: 0;
  line-height: 1em;
  order: 2;
}

main section:nth-of-type(2) h4 {
  margin: .5em 0;
  order: 1;
}

main section:nth-of-type(2) p {
  order: 3;
}




/*Free Games*/
main section:nth-of-type(3) {
  max-width: 90em;
  background-color: var(--free-games-background);
  border-radius: 1.5em;
}

/*Titel en button*/
main section:nth-of-type(3) > article {
  display: grid;
  grid-template-columns: 3em 1fr auto; 
  align-items: center;

  padding: 1.5em 1em 0 1em;
}

main section:nth-of-type(3) h2 {
  align-self: center;
  margin-left: .5em;
}

main section:nth-of-type(3) svg {
  width: 2.5em;
  fill: var(--svg-color--);
}

main section:nth-of-type(3) > article a {
  grid-column: 4 / 5;
  justify-self: flex-end;
  align-content: center;
  padding: .7em 1em;

  background-color: transparent;
  color: var(--font-color--);
  border: solid var(--border-color) .1em;
  border-radius: .6em;
  
  font-size: 1.2em;
  font-weight: bold;
}

main section:nth-of-type(3) > article a:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover-border);
}

/*Free Games articles*/
main section:nth-of-type(3) section {
  display: flex;
  flex-direction: column;
  gap: 3em;

  padding: 0 1em 2em 1em;
  margin-top: 2em;
}

main section:nth-of-type(3) section article a img {
  width: 100%;
  display: block; /*Om zwarte lijn onder de img weg te halen, zodat het tegen de p aanzit*/

  border-radius: 1em 1em 0 0;
}

main section:nth-of-type(3) section article a p {
  margin-top: 0;
  padding: .4em;
  border-radius: 0 0 1em 1em;
  text-align: center;

  background-color: var(--free-games-fn-background);
  color: var(--free-games-font) ;
  font-weight: bold;
  text-transform: uppercase;
}

main section:nth-of-type(3) section article h3 {
  margin-bottom: .2em;
}

main section:nth-of-type(3) article > p {
  margin: 0;
  color: var(--free-games-date-color);
}

/*"Coming soon" text*/
main section:nth-of-type(3) section article:nth-of-type(3) a p {
  background-color: #000000;
  color: var(--font-color--);
}




/** Tabel carousel: Top Sellers, Most Played, Top Upcoming Wishlisted **/

/*Tab titels*/
main section:nth-of-type(4) ul li:first-of-type a {
  display: flex;
  align-items: center;
}

main section:nth-of-type(4) ul li a svg {
  fill: var(--svg-color--);
  height: 2em;
  margin-left: .5em;
}

main section:nth-of-type(4) ul {
  list-style-type: "";
  padding-left: 0;
}

/*Games links overal styling*/
main section:nth-of-type(4) ul li {
  display: flex;
  width: 23em;
  margin: 1.8em 0;
}

main section:nth-of-type(4) ul li a{
  display: flex;
}

main section:nth-of-type(4) ul li article {
  height: 4em;
  margin-left: 1em;
}

main section:nth-of-type(4) ul li a h3 {
  margin: 0;

  width: 11em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main section:nth-of-type(4) ul:nth-of-type(3) li a h3 {
  width: 13em;
}

main section:nth-of-type(4) ul li img {
  max-width: 4.5em;
  max-height: fit-content;
  border-radius: .3em;
}

/*EA sports styling*/
main section:nth-of-type(4) ul:first-of-type li:nth-of-type(2) article h3 {
  margin-bottom: 0;
}

main section:nth-of-type(4) ul:first-of-type li:nth-of-type(2) article p {
  margin-top: 0;
}

main section:nth-of-type(4) ul:first-of-type li:nth-of-type(2) article aside {
  margin: .5em 0 .2em 0;
  background-color: var(--border-color);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 8em;
  height: 2em;
  border-radius: .4em;

  color: var(--font-color--);
  font-family: var(--basis-font);
  font-size: .9em;
}

main section:nth-of-type(4) ul:first-of-type li:nth-of-type(2) article p:nth-of-type(2) {
  margin-top: 0;
}

/*Sid Meier's Civilization styling*/
main section:nth-of-type(4) ul:first-of-type li:last-of-type article {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr;

  align-items: center;
}

main section:nth-of-type(4) ul:first-of-type li:last-of-type article h3 {
  grid-column: 1 / 4;
  grid-row: 1  / 2;

  height: 1.5em;
}

main section:nth-of-type(4) ul:first-of-type li:last-of-type article p {
  margin: 0;
}

main section:nth-of-type(4) ul:first-of-type li:last-of-type article p:first-of-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  background-color: var(--free-games-fn-background);
  color: var(--free-games-font);

  width: 3.3em;
  border-radius: 1em;
  font-size: 1.1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

main section:nth-of-type(4) ul:first-of-type li:last-of-type article p:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 2  / 3;

  color: var(--free-games-date-color);
}

main section:nth-of-type(4) ul:first-of-type li:last-of-type article p:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 2  / 3;
}

/*Top upcoming wishlisted styling*/
main section:nth-of-type(4) ul:nth-of-type(3) h3 {
  margin: 0;
}

main section:nth-of-type(4) ul:nth-of-type(3) p {
  margin: .2em 0;
}

main section:nth-of-type(4) ul:nth-of-type(3) p:first-of-type {
  font-size: 1em;
  color: var(--game-type--);
}

/*Tabel carousel: alle lijsten naast elkaar*/
main section:nth-of-type(4) {
  display: flex;

  overflow-x: auto; 
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;

  padding: 1em 0 0 0;
  overflow-x: auto;
  margin-top: 3em;
}

main section:nth-of-type(4) ul {
  border-right: solid 1px var(--border-color);
  margin: 1em;

  width: auto;
}

main section:nth-of-type(4) ul:last-of-type {
  border: none;
}


/*Tabel carousel dot pagination*/
main > ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin-top: 0;
}

main > ul li {
  list-style-type: "";
}


main > ul li a {
  display: inline-block;
  width: .5em;
  height: .5em;
  background-color: #58585b;
  border-radius: 50%;
}

main > ul li a:active {
  background-color: white;  
}








/*Carousel 2*/
main section:nth-of-type(5) ul:first-of-type {
  display: flex;
  overflow-x: auto;  
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-width: none;

  margin-top: 2em;
  padding: 1em;
  gap: 1em;    
}

main section:nth-of-type(5) ul:first-of-type li {
  scroll-snap-align: start;
  list-style-type: "";
  max-width: 27em;
}

main section:nth-of-type(5) ul:first-of-type li a img {
  max-width: 27em;
  border-radius: 1em;

  box-shadow: var(--shadow-color) .3em .3em 1em;
}


/*Tekst styling carousel 2*/
main section:nth-of-type(5) h2 {
  margin-top: .5em;
}

main section:nth-of-type(5) p:first-of-type {
  color: var(--game-type--);
}


/*Plus button carousel 2*/
main section:nth-of-type(5) ul:first-of-type li {
  position: relative;
}

main section:nth-of-type(5) ul:first-of-type li a > button {
  position: absolute;
  top: .5em;
  right: .5em;

  background: none;
  border: none;
}

main section:nth-of-type(5) ul:first-of-type li a > button svg {
  display: block;
  fill: var(--svg-color--);
  background-color: #00000053;
  border-radius: 2em;
  width: 3em;
}

main section:nth-of-type(5) ul:first-of-type li a > button:active svg {
  background-color: var(--download-button-color);
}



/*wishlist now button*/
main section:nth-of-type(5) ul:first-of-type :last-of-type article button {
  background-color: var(--button-color);
  color: var(--font-color--);
  height: 3em;
  width: 10em;
  border: none;
  border-radius: .5em;

  font-size: 1em;
}

main section:nth-of-type(5) ul:first-of-type :last-of-type article button:hover {
  background-color: var(--download-button-color);
  color: var(--free-games-font);
}

/*Carousel 2 dot pagination*/
main section:nth-of-type(5) ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin-top: 0;
}

main section:nth-of-type(5) ul:nth-of-type(2) li {
  list-style-type: "";
}


main section:nth-of-type(5) ul:nth-of-type(2) li a {
  display: inline-block;
  width: .5em;
  height: .5em;
  background-color: #58585b;
  border-radius: 50%;
}

main section:nth-of-type(5) ul:nth-of-type(2) li a:active {
  background-color: white;  
}






/*Trending*/
main section:nth-of-type(6) {
  padding: 1em;
}

main section:nth-of-type(6) section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

main section:nth-of-type(6) section article {
  max-width: 25em;
}

/*Trending tekst Order*/
main section:nth-of-type(6) section article a{
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(6) h3 {
  order: 2;
  margin: 0;
}

main section:nth-of-type(6) h4 {
  order: 1;
  margin-bottom: .5em;
}

main section:nth-of-type(6) p {
  order: 3;
  margin-top: .5em;
}

/*Trending img's*/
main section:nth-of-type(6) img {
  border-radius: 1em;
  width: 100%;
}

/*Trending titel + button*/
main section:nth-of-type(6) > article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

main section:nth-of-type(6) > article a {
  padding: .7em 1em;

  background-color: transparent;
  color: var(--font-color--);
  border: solid var(--border-color) .1em;
  border-radius: .6em;
  
  font-size: 1.2em;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(6) > article a:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover-border);
}

/*Trending article 1 Snakebird*/
main section:nth-of-type(6) section article:first-of-type a{
  display: grid;
  column-gap: 1em;

  align-items: center;
}

main section:nth-of-type(6) section article:first-of-type img {
  grid-column: span 4;
}

main section:nth-of-type(6) section article:first-of-type h3 {
  grid-row: 3 / 4;
  grid-column: span 4;
}

main section:nth-of-type(6) section article:first-of-type h4 {
  grid-row: 2 / 3;
  grid-column: span 4;
}

main section:nth-of-type(6) section article:first-of-type p:first-of-type {
  background-color: var(--free-games-fn-background);
  color: var(--free-games-font);

  width: 3.7em;
  border-radius: 1em;

  font-size: 1.1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

main section:nth-of-type(6) section article:first-of-type p:nth-of-type(2) {
  color: var(--free-games-date-color);
}

/*Trending article 2 Jetsoccer*/
main section:nth-of-type(6) aside {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
  margin-top: .5em;

  color: var(--font-color--);
  font-family: var(--basis-font);
  font-size: 1em;

  background-color: var(--border-color);
  width: 7.3em;
  height: 2em;
  border-radius: .4em;
}

main section:nth-of-type(6) aside svg{
  width: 1em;
  margin-right: .5em;
}

main section:nth-of-type(6) section article:nth-of-type(2) p {
  color: var(--free-games-date-color);
}

/*Trending article 3 KOKODOKI*/
main section:nth-of-type(6) section article:nth-of-type(3) p {
  color: var(--free-games-date-color);
} 




/*Carousel 3*/
main section:nth-of-type(7) ul:first-of-type {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  gap: 1.5em;
  padding: 1em;
  margin-top: 3em;

  height: 32em;
}


main section:nth-of-type(7) ul:first-of-type li{
  list-style-type: "";
  position: relative;

  scroll-snap-align: start;
}

main section:nth-of-type(7) ul:first-of-type img {
  width: 30em;
  border-radius: 1em;
  box-shadow: var(--shadow-color) .3em .3em 1em;
}

main section:nth-of-type(7) ul:first-of-type button {
  position: absolute;
  bottom: 0;

  background-color: var(--button-color);
  color: var(--font-color--);
  border: none;
  border-radius: .5em;

  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 500;
}

main section:nth-of-type(7) ul:first-of-type button:hover {
  background-color: var(--download-button-color);
  color: var(--free-games-font);
}

/*Carousel 3 dot pagination*/
main section:nth-of-type(7) ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin-top: 0;
}

main section:nth-of-type(7) ul:nth-of-type(2) li {
  list-style-type: "";
}


main section:nth-of-type(7) ul:nth-of-type(2) li a {
  display: inline-block;
  width: .5em;
  height: .5em;
  background-color: #58585b;
  border-radius: 50%;
}

main section:nth-of-type(7) ul:nth-of-type(2) li a:active {
  background-color: white;  
}