:root {
    --background-color: #101014;
    --header-color: #121216;
    --header-ue: #121216f0;
  
    --download-button-color: #26bbff;
    --button-color: #343437;
    --button-hover: #bababa40;
    --button-hover-border: #bebec5;
  
    --font-color--: #ffffff;
    --font-color-2: #9e9e9f;
    --game-type--: #ACACAD;
  
    --svg-color--: #ffffff;
    --search-bar: #18181c;
  
    --shadow-color: #070707;
  
    --border-color: #404044;
  
    --free-games-font: #000000;
    --free-games-date-color: #aeaeaf;
    --free-games-background: #202024;
    --free-games-fn-background: #26bbff;
  
    --footer-background--: #202020;
    --footer-icon--: #cfcfcf;

    /*font's*/
    --UE-logo-font: 'Unreal Engine, logo font';
    --basis-font-semi-bold: 'Epic Games Font, Semi-bold';
    --basis-font: 'Epic Games Font, Normal';
}

/***************************************************/

@font-face {
    font-family: 'Unreal Engine, logo font';
    src: url('/fonts/Mortend\ Bold.ttf');
}
@font-face {
    font-family: 'Epic Games Font, Semi-bold';
    src: url('/fonts/834e3616d9e57f3f027e96394f43efa0.woff');
}
@font-face {
    font-family: 'Epic Games Font, Normal';
    src: url('/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2');
}

/*********************************************************/


/*Header*/
header {
    position: sticky;
    z-index: 2;
    background-color: var(--header-ue);
}

header > a {
    display: flex;
    align-items: center;
    gap: .5em;

    text-decoration: none;
}


header > a svg {
    fill: var(--background-color);
    width: 2em;
}

header h1 {
    font-family: var(--UE-logo-font);
    text-transform: uppercase;
    font-size: 1.1em;

    line-height: 1;
    padding-top: .5em;
}

header nav:nth-of-type(2) button:first-of-type {
    display: none;
}



/** MAIN **/
main h2 {
    font-family: var(--basis-font);
    font-size: 2em;
    font-weight: 900;
    margin: 0;
}


/*Section 1*/
main > section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.5em;
}

main > section:first-of-type ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0 4em 0;
}

main > section:first-of-type li:first-of-type a {
    background-color: var(--download-button-color);
    color: var(--free-games-font);
    font-weight: 500;

    width: 7.5em;
    border-radius: .5em;
    padding: .8em;

    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:first-of-type li:nth-of-type(2) a {
    color: var(--font-color--);
    font-weight: 500;

    border: var(--border-color) solid .1em;
    width: 13em;
    padding: .8em;
    border-radius: .5em;

    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:first-of-type p {
    line-height: 1.5em;
}

main > section:first-of-type video {
    border-radius: 1em;
}

main > section:first-of-type svg {
    width: auto;
    height: 2.5em;

    display: none;
}



/*News section 2*/
main > section:nth-of-type(2) {
    width: 100%;
    margin-top: 5em;
    padding: 1.5em;
}

main > section:nth-of-type(2) > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main > section:nth-of-type(2) > article a {
    display: flex;
    justify-content: center;

    color: var(--font-color--);
    border: solid var(--border-color) .1em;
    border-radius: .5em;

    width: 6em;
    padding: 0.8em;

}

/*List items*/
main > section:nth-of-type(2) ul {
    padding-left: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

main > section:nth-of-type(2) li {
    background-color: var(--free-games-background);
    border-radius: .5em;
}

main > section:nth-of-type(2) a {
    width: 100%;
    

    display: grid;
    grid-template-columns: 9em auto;
}

main > section:nth-of-type(2) img {
    grid-column: 1 / 2;
    
    width: 9em;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

main > section:nth-of-type(2) ul li article {
    grid-column: 2 / 3;

    padding: 1em;   
}

main > section:nth-of-type(2) h3 {
    font-size: 1.1em;
}

main > section:nth-of-type(2) p:first-of-type {
    font-size: .9em;
    font-weight: 500;
    color: var(--font-color-2);

    overflow: hidden;           
    text-overflow: ellipsis;    
    
    display: -webkit-box;       
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    line-clamp: 2;
    
    max-height: 3em;            
    line-height: 1.5em;         
}

main > section:nth-of-type(2) p:last-of-type {
    font-size: .8em;
    padding: .5em;
    border-radius: 1em;

    width: 5em;
    text-align: center;

    background-color: var(--border-color);
}




/*Genre's section 3*/
main > section:nth-of-type(3) {
    margin: 5em 1.5em;
    padding-bottom: 2em;
    border-bottom: solid var(--border-color) .1em;
}

main > section:nth-of-type(3) > p {
    line-height: 1.6em;
    color: var(--font-color-2);

    margin: 1em 0 3em 0;
}

main > section:nth-of-type(3) ul {
    padding-left: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

main > section:nth-of-type(3) a {
    position: relative;
    width: 100%;

    display: inline-block;
    overflow: hidden;
    border-radius: .5em;
}

main > section:nth-of-type(3) figure {
    display: flex;
    gap: 1em;

    margin: 0;

    position: absolute;
    z-index: 1;

    bottom: 2em;
    left: 2em;
}

main > section:nth-of-type(3) ul li {
    transition: all 0.5s ease-out;
}

main > section:nth-of-type(3) ul li a p {
    font-size: 1.5em;
    font-weight: 600;
}

main > section:nth-of-type(3) svg {
    fill: var(--svg-color--);
    width: 2em;
}

main > section:nth-of-type(3) img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;

    border-radius: .5em;
}

main > section:nth-of-type(3) a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  
    border-radius: 1em;
    background: var(--background-color);
    background: linear-gradient(0deg, #101014c0 30%, #ffffff00 100%);
}

main > section:nth-of-type(3) a:hover img{
    transform: scale(1.2);
}

/*Show more button*/
main > section:nth-of-type(3) button {
    display: flex;
    align-items: center;
    gap: .5em;

    background: none;
    border: none;
}

main > section:nth-of-type(3) button p {
    font-size: 1.3em;
    color: var(--download-button-color);
}

main > section:nth-of-type(3) button svg {
    transform: rotate(90deg);
    width: 1.5em;
    fill: var(--download-button-color);
    transition: transform 0.3s ease;
}

main > section:nth-of-type(3) button.expanded svg {
    transform: rotate(-90deg);
}




/*How to get started in UE section 4*/
/*Introductie*/
main section:nth-of-type(4) {
    background-color: var(--search-bar);
    padding: 3em 0;

    display: flex;
    flex-direction: column;
}

main section:nth-of-type(4) > article {
    padding: 1.5em;
}

main section:nth-of-type(4) p {
    color: var(--font-color-2);
    font-weight: 500;
    line-height: 1.5em;
}

/*Tutorials*/
/* form*/
main section:nth-of-type(4) form {
    display: flex;
    align-items: center;
    gap: 2em;

    overflow-x: auto;
    scrollbar-width: none;
}

main section:nth-of-type(4) label {
    position: relative;
    white-space: nowrap;

    font-family: var(--basis-font);
    color: var(--font-color--);
    
}

main section:nth-of-type(4) label input {
    appearance:none;
	position:absolute;
    cursor: pointer;
}

main section:nth-of-type(4) label:has(input:checked) {
    background: var(--button-color);
    padding: 1em;
    border-radius: .5em;
}

main section:nth-of-type(4) section {
    width: 100%;
    display: block;
}

/*labels not checked*/
main section:nth-of-type(4) section:has([value="games"]:checked) section:not(.games) {
    display: none;
}

main section:nth-of-type(4) section:has( [value="editor"]:checked ) section:not(.editor) {
    display: none;
}
/********/


main section:nth-of-type(4) > section:first-of-type {
    padding: 1.5em;
}

main section:nth-of-type(4) > section:first-of-type section article {
    margin: 2em 0;
}

main section:nth-of-type(4) > section:first-of-type > article:first-of-type {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

main section:nth-of-type(4) > section:first-of-type > article:first-of-type a {
    display: flex;
    justify-content: flex-end;
    
    color: var(--font-color--);
    width: max-content;
    padding: .5em 1em;
    border: var(--border-color) solid .1em;
    border-radius: .5em;
}

main section:nth-of-type(4) img {
    width: 100%;
    border-radius: .5em;
}

main section:nth-of-type(4) aside {
    margin: .5em 0;

    color: var(--font-color-2);
    font-weight: 900;
    font-size: .8em;

    text-transform: uppercase;
    letter-spacing: .1em;
}

main section:nth-of-type(4) h3 {
    margin: 1em 0 0 0;
}

/*Show more button*/ 
main section:nth-of-type(4) button {
    background: none;
    border: none;
    padding: 0;

    display: flex;
    align-items: center;
    gap: .5em;
}

main section:nth-of-type(4) button p {
    color: var(--download-button-color);
    font-size: 1.3em;
}

main section:nth-of-type(4) button svg {
    fill: var(--download-button-color);
    width: 1.5em;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

main section:nth-of-type(4) button.expanded svg {
    transform: rotate(-90deg);
}


/*Documentation*/
main section:nth-of-type(4) > section:first-of-type > article {
    margin-top: 2em;
}

main section:nth-of-type(4) > section:first-of-type > article:last-of-type ul{
    margin: 1.5em 0;
    padding: 2em;
    background-color: var(--free-games-background);
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    gap: .5em;
}

main section:nth-of-type(4) > section:first-of-type > article:last-of-type li a {
    display: flex;
}

main section:nth-of-type(4) > section:first-of-type > article:last-of-type ul li:first-of-type p {
    color: var(--font-color--);
    margin-bottom: 1em;
}

main section:nth-of-type(4) > section:first-of-type > article:last-of-type li:last-of-type a {
    margin-top: .5em;
    padding: .7em;

    font-size: .9em;
    width: fit-content;
    border-radius: .5em;

    color: var(--font-color--);
    background-color: var(--border-color);
}

main section:nth-of-type(4) > section:first-of-type > article:last-of-type ul li p {
    color: var(--download-button-color);
    margin: 0;
}

main section:nth-of-type(4) > section:first-of-type svg {
    fill: var(--download-button-color);
    width: 1.5em;
}


/*Sample Projects*/
main section:nth-of-type(4) > section:last-of-type {
    padding: 1.5em;
}

main section:nth-of-type(4) > section:last-of-type article {
    margin: 2.5em 0 0 0;
}

main section:nth-of-type(4) > section:last-of-type > a {
    color: var(--font-color--);
    border: var(--border-color) solid .1em;
    border-radius: .5em;

    width: fit-content;
    padding: .5em 1em;
}

main section:nth-of-type(4) button.expanded svg {
    transform: rotate(-90deg);
}





/*Licensing section 5*/
main section:nth-of-type(5) {
    padding: 1.5em;
    margin-top: 3em;
}

main section:nth-of-type(5) > p {
    color: var(--font-color-2);
    line-height: 1.5em;
}

main section:nth-of-type(5) > p a {
    color: var(--download-button-color);
    text-decoration: underline;
}

main section:nth-of-type(5) > h3 {
    margin-top: 3em;
}

main section:nth-of-type(5) > article {
    background-color: var(--free-games-background);
    border: var(--download-button-color) solid .1em;
    border-radius: 1em;
    padding: 3em;
}

main section:nth-of-type(5) article h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 800;
}

main section:nth-of-type(5) article ul {
    padding-left: 0;
}

/*Bullet list*/
main section:nth-of-type(5) > article ul:first-of-type {
    list-style-type: disc;
    padding-left: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

main section:nth-of-type(5) article ul li {
    color: var(--font-color-2);
}

main section:nth-of-type(5) > article ul:first-of-type li::marker {
    color: var(--footer-icon--);
}

main section:nth-of-type(5) strong {
    color: var(--font-color--);
}

/*Checkmark list*/
main section:nth-of-type(5) > article ul:nth-of-type(2) li {
    display: flex;
    align-items: center;
    gap: 1em;
}

main section:nth-of-type(5) > article ul:nth-of-type(2) p {
    color: var(--font-color--);
}

main section:nth-of-type(5) > article ul:nth-of-type(2) li svg {
    fill: var(--download-button-color);
}


/*Link list*/
main section:nth-of-type(5) > article ul:last-of-type {
    display: flex;
    align-items: center;
    gap: 2em;
}

main section:nth-of-type(5) > article ul:last-of-type li a {
    color: var(--download-button-color);
}

main section:nth-of-type(5) > article ul:last-of-type li:first-of-type {
    padding: 1em;
    background-color: var(--download-button-color);
    border-radius: .5em;
}

main section:nth-of-type(5) > article ul:last-of-type li:first-of-type a {
    color: var(--free-games-font);
}

main section:nth-of-type(5) section article {
    background-color: var(--free-games-background);
    padding: 3em;
    border-radius: 1em;

    margin: 2em 0;
}

main section:nth-of-type(5) section article p {
    color: var(--font-color-2);
    line-height: 2em;
}

main section:nth-of-type(5) section > h3 {
    margin: 3em 0 0 0;
}

main section:nth-of-type(5) > a {
    display: flex;
    justify-content: center;
    gap: 1em;

    width: 100%;
    background-color: var(--button-color);
    padding: 1em;
    border-radius: 1em;
}

main section:nth-of-type(5) > a svg {
    width: 1em;
    fill: var(--svg-color--);
}







/*Media queries voor UE*/
@media (min-width: 50em) {
    /*Genre's section 3*/
    main > section:nth-of-type(3) ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*Tutorials*/
    main section:nth-of-type(4) > section:nth-of-type(2) section {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(20em, auto));
        column-gap: 1.5em;

        justify-content: stretch;
    }
}


@media (min-width:80em) {

    /*Section 1*/
    main > section:first-of-type{
        display: flex;
        justify-self: center;
        width: 95%;

        position: relative;
        padding-top: 5em;
    }
    main > section:first-of-type article {
        max-width: 50%;
    }
    main > section:first-of-type video {
        position: absolute;
        z-index: -1;
        right: 1em;
        max-width: 68%;
    }
    main > section:first-of-type svg{
        display: block;
        margin-bottom: 3em;
    }
    main > section:first-of-type h2 {
        font-size: 2.8em;
        text-shadow: var(--shadow-color) .1em .1em .2em;
    }
    main > section:first-of-type p {
        font-size: 1.3em;
        text-shadow: var(--shadow-color) .1em .1em .2em;
    }    
    main > section:first-of-type ul {
        display: flex;
        flex-direction: row;
    }
    main > section:first-of-type ul li a {
        margin: 0;
    }

    /*News section 2*/
    main > section:nth-of-type(2) {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    main > section:nth-of-type(2) > article:first-of-type {
        display: flex;
        justify-content: space-between;
    }
    main > section:nth-of-type(2) h3 {
        overflow: hidden;           
        text-overflow: ellipsis;    
        
        display: -webkit-box;       
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 2; 
        line-clamp: 2;
        
        max-height: 3em;            
        line-height: 1.5em; 
        margin-bottom: 0;
    }
    main > section:nth-of-type(2) p {
        margin-top: .5em;
    }
    main > section:nth-of-type(2) ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main > section:nth-of-type(2) li a {
        height: 12em;
    }
    main > section:nth-of-type(2) li a img {
        height: 12em;
    }
    main > section:nth-of-type(2) ul li article {
        padding: 0 1em;
    }

    /*Genre's section 3*/
    main > section:nth-of-type(3) {
        width: 92%;
        display: flex;
        flex-direction: column;
        justify-self: center
    }
    main > section:nth-of-type(3) h2 {
        font-size: 2.8em;
    }
    main > section:nth-of-type(3) p {
        font-size: 1.3em;
    }
    main > section:nth-of-type(3) ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*Section 4*/
    main section:nth-of-type(4) {
        padding: 2em;
        display: flex;
        justify-self: center;
    }

    
    /*Licensing section 5*/
    main section:nth-of-type(5) section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 1.5em;
    }

    main section:nth-of-type(5) section h3 {
        grid-column: span 2;
    }
}



